@model PaginatedList<User>

@{
    ViewBag.Title = "User page";
}

@if(TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}


<a class="btn btn-primary" asp-controller="Users" asp-action="Edit">Add Contact</a>
<table class="table">
    <tr class="text-warning">
        <th>
            User Name
        </th>

        <th>
            Email
        </th>

        <th>
            Reason
        </th>
      <th></th>
    </tr>
    
    @foreach (var user in Model)
    {
        <tr class="text-warning">
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Reason</td>

           

            <td>

                <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.UserId" asp-route-slug="@user.Slug">Edit</a>
                <a asp-action="Delete" asp-controller="Users" asp-route-id="@user.UserId" asp-route-slug="@user.Slug">Delete</a>


            </td>
        </tr>
    }
</table>

    @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-center">
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <div class="btn" style="cursor: default">
        Page @Model.PageIndex of @Model.TotalPages
    </div>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>