@model List<SalesOrderPROJ.Models.Product>
@{
	ViewData["Title"] = "My Product list";
}


<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Short Description</th>
			<th>Long Description</th>
			<th>Image</th>
			<th>Price</th>
			<th>Qauntity</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ProductName</td>
				<td>@item.ProductDescShort</td>
				<td>@item.ProductDescLong</td>
				<td>@item.ProductImage</td>
				<td>@item.ProductPrice</td>
				<td>@item.ProductQty</td>
				<td>
					<a asp-controller="product" asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-outline-primary">Edit</a>
					<a asp-controller="product" asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-outline-primary">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>
<div class="mb-2">
	<a asp-controller="product" asp-action="Add" class="btn btn-outline-primary">Add Product</a>
</div>