@model List<ExerciseLog>

@{
	ViewData["Title"] = "My Excersize Log";
}

<div class="mb-2">
	<a asp-controller="Fit" asp-action="Add" class="btn btn-primary">Add Workout</a>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
		<th>
			Workout
		</th>

		<th>
		Activity
		</th>

		<th>
		Sets
		</th>

		<th>
		Reps
		</th>

		<th>
		Weight
		</th>

		<th>Genre</th>
		<tr>
	</thead>

	<tbody>
		@foreach (var ExcersizeContext in Model)
		{
			<tr>ExcersizeContext
				<td>@ExcersizeContext.Workout</td>
				<td>@ExcersizeContext.Activity</td>
				<td>@ExcersizeContext.Sets</td>
				<td>@ExcersizeContext.Reps</td>
				<td>@ExcersizeContext.Weight</td>
				<td>@ExcersizeContext.Genre.Name</td>

				<td>
					<a asp-controller="Fit" asp-action="Edit" asp-route-id="@ExcersizeContext.ExerciseId" asp-route-slug="@ExcersizeContext.Slug">Edit</a>
					<a asp-controller="Fit" asp-action="Delete" asp-route-id="@ExcersizeContext.ExerciseId" asp-route-slug="@ExcersizeContext.Slug">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>